/* POLICES D'ECRITURES */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Thin.ttf") format("truetype"),
        url("../Fonts/Raleway-Thin_1.otf") format("opentype");
  font-weight: 100;
  font-style: thin;
}

@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Regular.ttf") format("truetype"),
        url("../Fonts/Raleway-Regular_1.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Italic.ttf") format("truetype"),
        url("../Fonts/Raleway-Italic_1.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Bold.ttf") format("truetype"),
        url("../Fonts/Raleway-Bold_1.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}

*{
    font-family: "Lato","Raleway","sans-serif";
    font-size: normal;
}

em{
    font-style: italic;
    font-weight: 400;
}

li, p strong{
    font-weight: 400;
}

#font-normal{
    font-weight: 400;
}

/*  dernière ligne de la list stages */
#bold{
    font-weight: 700;
}
#italic{
    font-style: italic;
}

#bold{
    position: absolute;
}
#italic{
    position: relative;
    top: 18px;
    left: 40px;
}

/* largeur de 1160px -----------------------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Une couleur de fond légère pour visualiser le centrage */
}


body main{
    display: flex;                /* Utilisé pour aligner aside et .right-side horizontalement */
    width: 1160px;
    background-color: white;
                                 /* Centrer le bloc horizontalement */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 20px;   /* Esthétique du cv */
}
 /* --------------------------------------------------------------------------------------------- */

body main section h3, ul li time  {
    color: #17abb3;
}

body main section ul li {
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px; /* Petit espace entre les lignes de la liste */
}

 /* LE CÔTÉ DROIT */
 body main .right-side {
    width: 870px; /* 1160px (total) - 290px (aside) */
    padding: 20px 20px 0 20px;   /* Padding haut, droit, bas (0), gauche */
 }

 /* AJOUTER UNE LIGNE SÉPARATRICE entre les sections sauf la dernière */
 body main .right-side section:not(:last-child), body main aside section:not(:last-child) {
    border-bottom: 2px solid #e3e3e3; /* Ligne de séparation légère */
    padding-bottom: 20px; /* Espace après la ligne */
    margin-bottom: 20px; /* Espace avant la section suivante */
 }

/* CÔTE GAUCHE */
body main aside {
    width: 290px;
    padding: 20px;
    background-color: #eef1f2;
}


aside section ul li{
    color: #000000;
}


/* EN-TÊTE   */
body header{
    background-color: #17abb3 ;
    padding: 20px;
    margin-bottom: 0px;
    height: 250px;
}

body header > img{
    width: 200px;
    height: 200px;
    border: #FFFFFF solid 5px;
    object-fit: cover;
    border-radius: 80%;
    float: left;
}
body .header_text, ul{
    text-align: center;
    color: #FFFFFF;
}

body header ul li {
    display: inline-block;
}

body header ul li a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 15px;
}

/* PIED DE PAGE */
body footer {
    text-align: center;
    font-size: 10px;
    padding: 10px;
    background-color: #17abb3 ;
    color: white;
    width: 100%;
}

/*forcer le retour à la ligne entre strong et em */
body main .right-side .li-content {
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    margin-top: 20px;
}
 /* Consigne pour le Texte du profil */
#profil_text{
    text-indent: 25px;
    text-align: justify;
}

main section{
    margin-bottom: 90px;
    margin-top: 30px;
    margin-left: 15px;
}

/* Personnalisation des puces de liste dans le aside pour la 3 et 4eme section  */
body main aside section:nth-last-child(2) ul li,
body main aside section:last-child ul li {
    padding-left: 15px; /* Déplace le texte pour laisser l'espace au carré */
    position: relative; /* nécessaire pour positionner le carré */
}

body main aside section:nth-last-child(2) ul li:before,
body main aside section:last-child ul li:before {
    content: "";
    position: absolute; /* nécessaire pour possionner le carré */
    left: 0px;
    top: 5px;    /* centre face au texte */

    /* Caractère de la puce */
    width: 8px;
    height: 8px;
    background-color: #17abb3;
}

/* Système d'étoiles pour les compétences */
.stars {
    display: flex;
    gap: 3px;
}

.star {
    width: 14px;
    height: 14px;
}

.star.filled::before {
    content: "★";
    color: #17abb3;
    font-size: 16px;
}

.star.empty::before {
    content: "☆";
    color: #17abb3;
    font-size: 16px;
}

/* Effets dynamiques*/

.right-side section ul li:hover{
    border-left: #17abb3 solid 4px;
    padding-left: 10px; /* Ajoute un petit espace entre le trait et le texte */
    /* J'ai découvert qu'on avait un effet de sélection avec le déplacement de la date */
    margin-right: 4px; 
    background-color: #e3e3e3;
}

header > img{
    cursor: zoom-in;
}

a:hover {
    opacity: 0.8;
}