/* POLICES D'ECRITURES */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Thin.ttf") format("truetype"),
        url("../Fonts/Raleway-Thin_1.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Regular.ttf") format("truetype"),
        url("../Fonts/Raleway-Regular_1.otf") format("opentype");
  font-weight: 400;
  font-style: normal;   
}

@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Italic.ttf") format("truetype"),
        url("../Fonts/Raleway-Italic_1.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Bold.ttf") format("truetype"),
        url("../Fonts/Raleway-Bold_1.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

*{
    font-family: "Lato","Raleway","sans-serif";
    font-size: normal;
}

/* largeur de 1160px -----------------------------------------------------------------------------*/

body {
    margin: 0; 
    padding: 0;
    background-color: #f5f5f5; /* Une couleur de fond légère pour visualiser le centrage */
}


body main{
    display: flex; /* Utilisé pour aligner aside et .right-side horizontalement */
    width: 1160px; 
    background-color: white;
                                 /* Centrer le bloc horizontalement */
    margin-left: auto;
    margin-right: auto;
    /* Suppression de flex-direction: column; */
    /* Suppression de justify-content: space-between; */
}
 /* --------------------------------------------------------------------------------------------- */
body main section h3, ul li time  {
    color: #17abb3;
}

ul li time{
    float : right;
}

body main section ul li {
    color: #000000;
    text-decoration: none;
}

/* Enlever le point au debut  des liste */
 ul{
    list-style-type: none;
 }
 
 /* NOUVELLE RÈGLE POUR LE CÔTÉ DROIT */
 body main .right-side {
    width: 870px; /* 1160px (total) - 290px (aside) */
    padding: 20px;
 }
 /* FIN DE LA NOUVELLE RÈGLE */
 
/* CÔTE GAUCHE */
body main aside { 
    width: 290px; 
    padding: 20px;
    background-color: #eef1f2; 
}

/* Texte en noir */
aside section ul li{
    color: #000000;
}


/* EN - TÊTE   */
body header{
    background-color: #17abb3 ;
    padding: 20px;
    margin-bottom: 0;
    height: 250px;
}

body header > img{
    width: 200px;
    height: 200px;
    border: #FFFFFF solid 5px;
    object-fit: cover;
    border-radius: 80%;
    float: left;
}
body .header_text, ul{
    text-align: center;
    color: #FFFFFF;
}

body header ul li {
    display: inline-block;
    text-decoration: none
}

body header ul li a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 15px;
}

/* PIED DE PAGE */
body footer {
    text-align: center;
    font-size: 10px;
    padding: 10px;
    background-color: #17abb3 ;
    color: white;
    width: 100%;
}