/* POLICES D'ECRITURES */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Thin.ttf") format("truetype"),
        url("../Fonts/Raleway-Thin_1.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Regular.ttf") format("truetype"),
        url("../Fonts/Raleway-Regular_1.otf") format("opentype");
  font-weight: 400;
  font-style: normal;   
}

@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Italic.ttf") format("truetype"),
        url("../Fonts/Raleway-Italic_1.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Bold.ttf") format("truetype"),
        url("../Fonts/Raleway-Bold_1.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

*{
    font-family: "Lato","Raleway","sans-serif";
}

body {
    margin: 0; 
    padding: 0;
    background-color: #f5f5f5; /* Une couleur de fond légère pour visualiser le centrage */
}

/* largeur de 1160px*/
body main{
    display: flex;
    width: 1160px; 
    background-color: white;
    /* 2. Centrer le bloc horizontalement */
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
}

body main section { 
    display: flex;
    flex-direction: row; 
    padding: 20px;
}

body main aside { 
    width: 290px; 
    /* Met l'aside à gauche */
    order: -1; 
    padding: 20px;
    background-color: #eef1f2; 
}

body header{
    background-color: #17abb3 ;
    padding: 20px;
    margin-bottom: 0;
    height: 350px;
}

body header > img{
    width: 200px;
    height: 200px;
    border: #FFFFFF solid 5px;
    object-fit: cover;
    border-radius: 80%;
    float: left;
}
body header h1, h2, ul {
    font-weight: 700;
    justify-content: space-between;
    text-align: center;
    color: #FFFFFF;
}

body footer {
    text-align: center;
    font-size: 10px;
    padding: 10px;
    background-color: #17abb3 ;
    color: white;
    width: 100%;
}